body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar-fixed {
  z-index: 999;
 
  }

  .nav-extended{
    background-color:goldenrod
  }

  .image_off, #myImage1:hover .image_on{
    display:none
 }
 .image_on, #myImage1:hover .image_off{
    display:inline-block;
 }
 

body{ 
  background-color: #00001f
}

  img { 
    height: 100%;
    width: 94%;
  }

h4 {
  color: white;
  font-size: 30px; 
}

.wrapper {
  max-width: auto;
  margin: 0 auto;
}

.wrapper > div {
  border: 1px solid black;
  border-radius: 5px;
  background-color:whitesmoke;
  opacity: .9;
  color:#00001f;
  text-align: center;
  padding: 5px 1px 5px 1px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1;
  grid-row: 1/5;
}
.two { 
  grid-column: 2 / 5;
  grid-row: 1 / 2;
}
.three {
  grid-column: 1/2;
  grid-row: 5 / 6;
}
.four {
  grid-column: 2/3;
  grid-row: 2/5;
}
.five {
  grid-column: 3/4;
  grid-row: 2/5;
}
.six {
  grid-column: 4/5;
  grid-row: 2/5;
}

ol{
  padding: 22px; 
  color: bisque;
}


/* 
pokedex layout  */
.myrow1{
  margin-bottom: 0;
}
.pokemonpicture{
 margin-left: 100px; 
  height: 455px;
}

.maindisplay{
  height: 391px;
}
.mycamara{
  height: 84px;
}

.topPokedex{ 
  height: 83px;
}

.poke-layout{
  border:#d32f2f solid 7px; 
  border-style: outset;
}

.mysubheader {
  color: white;
  background-color:#00001f;
  text-shadow: #a6d8a8;
 
}



#panel, #panel_2, #panel_3, .flip1 .flip2 {
  font-size: 23px;
  padding: 15px;
  text-align: left;
  background-color: red;
  color: black;
  border: solid 1px #a6d8a8;
  margin: auto;
}

#panel {
  display: none;
}